#create-trip{
    background-color: #424649;
    color: #C47335;
}

#edit-trip{
    background-color: #424649;
    color: #C47335;
}

.fieldcontain label{
    color: #F19953;
}

input, select, textarea{
    border-radius: 10px;
    border: 2px solid #F19953;;
}

.buttons input{
    background-color: #588B8B;
    color: white;
}

.buttons .save{
    background-image: url(skin/plus.png);
    background-size: 20px 20px;
}

.buttons .edit{
    background-image: url(skin/refresh.png);
    background-size: 20px 20px;
}

